<div>
  <button (click)="navigateToSignatureForm()">
    Create New Signature Posting
  </button>
  <h2>Signature Postings</h2>

  <table *ngIf="signaturePostings.length > 0; else noPostingsTemplate">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Posting Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posting of signaturePostings">
        <td>{{ posting.title }}</td>
        <td>{{ posting.description }}</td>
        <td>{{ posting.status }}</td>
        <td>
          <button (click)="getPostingStatus(posting.postingID)">
            Update Posting Status
          </button>
        </td>
        <td>
          <button
            (click)="
              downloadFile(
                posting.postingID,
                posting.attachmentInfos[0].attachmentID
              )
            "
            [disabled]="posting.status !== 'Completed'"
          >
            Download Signed PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noPostingsTemplate>
    <p>No signature postings created.</p>
  </ng-template>
</div>
